.wrapper {
    display: table;
    border: 1px solid forestgreen;
}

.description {
    display: table-cell;
    vertical-align: top;
    background-color: aqua;
    width: 100%;
}

.paragraph {
    margin: 0;
}

.picture {
    height: 270px;
    width: 310px;
}
