body {
    margin: 0;
    padding: 0; 
    font-family: Fluid;
    display: flex; 
    justify-content: center;
}

.centered-block {
    padding: 0; 
    display: flex;
    width: 500px;
    justify-content: center; 
    align-items: center;  
    background-color: blue; 
    color: white;
    font-size: 13px;
}
